.error {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;

  padding: 12px;
  border-radius: 6px;
  border: 1px solid red;
  background-color: tomato;
}
